Assets/Resources/Font/**/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Font/TMP/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/ZRNAssets/Cars/Textures/tex_Track_01.tga filter=lfs diff=lfs merge=lfs -text
